<div class="container">
  <div>
    <div class="pic"><img src="../public/images/image.png" alt="" srcset="" /></div>
    <div>
      <p>Name: John Smith</p>
      <p>Age: 39</p>
      <p>Gender: Male</p>
      <p>Email: johnsmith@gmail.com</p>
      <p>Address: Lagos, Nigeria</p>
      <p>Role: Stack Lead</p>
    </div>
  </div>
  <div>
    <div><img src="../public/images/image.png" alt="" srcset="" /></div>
    <div>
      <p>Name: Janet Rose</p>
      <p>Age: 25</p>
      <p>Gender: Female</p>
      <p>Email: janetrose@gmail.com</p>
      <p>Address: New York, USA</p>
      <p>Role: Stack Associate</p>
    </div>
  </div>
  <div>
    <div><img src="../public/images/image.png" alt="" srcset="" /></div>
    <div>
      <p>Name: James Roe</p>
      <p>Age: 24</p>
      <p>Gender: Male</p>
      <p>Email: jamesroe@gmail.com</p>
      <p>Address: Texas, USA</p>
      <p>Role: Student</p>
    </div>
  </div>
</div>
<p>This is the home page and it takes the full width of the layout</p>
<a href="/about">About</a>
